@page
@model MarketingBlogApp.Pages.Admin.DashboardModel
@{
    Layout = "/Pages/Shared/_Admin.cshtml";
}

<h1>Admin Dashboard</h1>

<div class="card mb-3">
    <div class="card-header">
        <h2>Manage Users</h2>
    </div>
    <div class="card-body">
        <p>View, edit, and disable user accounts.</p>
        <a class="btn btn-primary" asp-page="/Admin/Users/Index">Users List</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h2>Disabled Users</h2>
    </div>
    <div class="card-body">
        <p>View and enable disabled user accounts.</p>
        <a class="btn btn-danger" asp-page="/Admin/Users/DisabledUsers">Disabled Users List</a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <h2>User Activity</h2>
    </div>
    <div class="card-body">
        <p>View recent user activities.</p>
        <a class="btn btn-info" asp-page="/Admin/Users/Activity">View Activity</a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <h2>Category</h2>
    </div>
    <div class="card-body">
        <p>View recent user activities.</p>
        <a class="btn btn-info" asp-page="/Admin/Categories/Index">Create Category</a>
    </div>
</div>