@page
@model MarketingBlogApp.Pages.User.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BlogPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlogPost.Title" class="control-label"></label>
                <input asp-for="BlogPost.Title" class="form-control" />
                <span asp-validation-for="BlogPost.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogPost.Content" class="control-label"></label>
                <textarea asp-for="BlogPost.Content" class="form-control"></textarea>
                <span asp-validation-for="BlogPost.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" type="file" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categories</label>
                <div>
                    @foreach (var category in Model.Categories)
                    {
                        <div class="form-check">
                            <input type="checkbox" id="category_@category.Id" name="CategoryIds" value="@category.Id" />
                            <label for="category_@category.Id" class="form-check-label">@category.Name</label>
                        </div>
                    }
                </div>
                <span asp-validation-for="CategoryIds" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <input asp-for="BlogPost.AuthorId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
