@page
@model MarketingBlogApp.Pages.Admin.Users.EditModel
@{
    Layout = "/Pages/Shared/_Admin.cshtml";
}

<h1>Edit User</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserToUpdate.FirstName"></label>
        <input asp-for="UserToUpdate.FirstName" class="form-control" placeholder="First Name" />
        <span asp-validation-for="UserToUpdate.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserToUpdate.LastName"></label>
        <input asp-for="UserToUpdate.LastName" class="form-control" placeholder="Last Name" />
        <span asp-validation-for="UserToUpdate.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserToUpdate.Address"></label>
        <input asp-for="UserToUpdate.Address" class="form-control" placeholder="Address" />
        <span asp-validation-for="UserToUpdate.Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserToUpdate.Email"></label>
        <input asp-for="UserToUpdate.Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="UserToUpdate.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserToUpdate.UserName"></label>
        <input asp-for="UserToUpdate.UserName" class="form-control" placeholder="Username" />
        <span asp-validation-for="UserToUpdate.UserName" class="text-danger"></span>
    </div>

    @if (!Model.IsAdmin)
    {
        <div class="form-group">
            <label asp-for="SelectedRole">Role</label>
            <select asp-for="SelectedRole" class="form-control" asp-items="Model.Roles"></select>
            <span asp-validation-for="SelectedRole" class="text-danger"></span>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="SelectedRole" value="Admin" />
    }

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

