@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>


<style>
    :root {
        --color--teal-blue: #008080; /* Teal/Blue color used as the primary color */
        --color--darker-teal-blue: #005353; /* Darker shade of teal/blue used for headers */
        --color--dark: #333333; /* Dark text color */
        --color--white: #ffffff; /* Background color for the body and form elements */
        --color--light-border: #cccccc; /* Light border color for form inputs */
    }

    body {
        font-family: Arial, sans-serif;
        background-color: var(--color--white); /* White background */
        color: var(--color--teal-blue); /* Teal/blue text */
        margin-top: 20px; /* Add margin to top of the page */
    }
</style>
