@page
@model LoginModel

@{
    Layout = "/Pages/Shared/_CustomLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 left-panel">
        <img src="/lib/images/pic.jpg" alt="BlogApp">
        <p>Need ideas for marketing, <h3>Marketing Blog</h3> is here to help.</p>
    </div>
    <div class="col-md-6 right-panel">
        <h1>Sign-In</h1>

        <form id="loginForm" method="post">
            <div class="form-group">
                <label for="Identifier" class="form-label">Email or User Name</label>
                <input id="Identifier" name="Identifier" class="form-control">
                <span class="text-danger error-message" id="IdentifierError"></span>
            </div>
            <div class="form-group">
                <label for="PasswordLogin" class="form-label">Password</label>
                <input id="PasswordLogin" name="PasswordLogin" class="form-control">
                <span class="text-danger error-message" id="PasswordLoginError"></span>
            </div>
            <button type="submit" class="btn btn-dark align-self-center">Sign in</button>
        </form>


        <p class="text-center mt-3">OR</p>

        @foreach (var provider in Model.ExternalLogins!)
        {
            <form asp-page="./ExternalLogin" asp-route-provider="@provider.Name" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="d-inline">
                <button type="submit" class="btn btn-google align-self-center">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google logo"> Sign in with Google
                </button>
            </form>
        }

        <p class="text-center text-muted mt-3">Don't Have an account? <a asp-area="Identity" asp-page="/Account/Register">Signup Here</a></p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
