@page
@model RegisterModel
@{
    Layout = "/Pages/Shared/_CustomLayoutRegister.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 left-panel">
        <img src="/lib/images/pic.jpg" alt="BlogApp">
        <p>Need ideas for marketing, <h3>Marketing Blog</h3>is here to help.</p>
    </div>
    <div class="col-md-6 right-panel">
        <h1>Register</h1>
        <form  asp-route="@Model.ReturnUrl" method="post">
            <div class="form-group">
                <label asp-for="Input.FirstName">First Name</label>
                <input asp-for="Input.FirstName" class="form-control"  placeholder="First Name">
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName">Last Name</label>
                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name">
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address">Address</label>
                <input asp-for="Input.Address" class="form-control"  placeholder="Address">
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" id="password" placeholder="Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" id="password" placeholder="Confirm Password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-dark btn-block">Register</button>
            <p class="text-center text-muted mt-3">Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Sign in</a></p>
        </form>
    </div>
</div>
  

