@page
@model RegisterModel
@{
    Layout = "/Pages/Shared/_CustomLayoutRegister.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6 left-panel">
        <img src="/lib/images/pic.jpg" alt="BlogApp">
        <p>Need ideas for marketing, <h3>Marketing Blog</h3>is here to help.</p>
    </div>
    <div class="col-md-6 right-panel">
        <h1>Register</h1>
        <form id="registerForm" method="post">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input id="FirstName" name="FirstName" class="form-control" placeholder="First Name">
                <span class="text-danger error-message" id="FirstNameError"></span>
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input id="LastName" name="LastName" class="form-control" placeholder="Last Name">
                <span class="text-danger error-message" id="LastNameError"></span>
            </div>
            <div class="form-group">
                <label for="UserName">User Name</label>
                <input id="UserName" name="UserName" class="form-control" placeholder="UserName">
                <span class="text-danger error-message" id="UserNameError"></span>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" name="Email" class="form-control" placeholder="Email">
                <span class="text-danger error-message" id="EmailError"></span>
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <input id="Address" name="Address" class="form-control" placeholder="Address">
                <span class="text-danger error-message" id="AddressError"></span>
            </div>
            <div class="form-group">
                <label for="PasswordRegister">Password</label>
                <input id="PasswordRegister" name="PasswordRegister" class="form-control" placeholder="Password">
                <span class="text-danger error-message" id="PasswordRegisterError"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                <span class="text-danger error-message" id="ConfirmPasswordError"></span>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Register</button>
            <p class="text-center text-muted mt-3">Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Sign in</a></p>
        </form>

    </div>
</div>
