@page
@model MarketingBlogApp.Pages.Admin.Categories.CreateModel
@{
    Layout = "/Pages/Shared/_Admin.cshtml";
}

<h1>Add New Category</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Category.Name" class="control-label"></label>
        <input asp-for="Category.Name" class="form-control" />
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    :root {
        --primary-color: #666666; /* Medium grey */
        --taleblue: #6699CC; /* Taleblue */
        --text-color: #333333; /* Dark grey */
        --border-radius: 5px; /* Small border radius */
    }

    body {
        font-family: 'Arial', sans-serif;
        background-color: #ffff; /* Light grey background */
        color: var(--text-color); /* Dark grey text */
        margin: 20px;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: var(--taleblue); /* Taleblue text color */
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        color: var(--text-color); /* Dark grey text */
        font-weight: bold;
    }

    .form-control {
        padding: 10px;
        border: 1px solid var(--taleblue); /* Taleblue border */
        border-radius: var(--border-radius); /* Small border radius */
        background-color: #ffffff; /* White background */
        color: var(--text-color); /* Dark grey text */
    }

    .btn {
        padding: 8px 16px;
        border-radius: var(--border-radius); /* Small border radius */
        cursor: pointer;
        text-decoration: none;
        color: #ffffff; /* White text */
    }

    .btn-primary {
        background-color: var(--taleblue); /* Taleblue */
        border: none;
    }

        .btn-primary:hover {
            background-color: #336699; /* Darker taleblue on hover */
        }
</style>